@model IEnumerable<APPWebAcademiaTrainee.Models.PessoaModel>

@{
    ViewData["Title"] = "Index";
}

<div div style="display: flex; justify-content: space-between;">
    <h1>Index</h1>
    <button type="button" class="btn btn-primary"><a asp-action="Create" style="text-decoration: none" class="text-white">Create New</a></button>
</div>
@Html.ValidationSummary()
<table class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChildrenAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Date)
                </td>

                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.ChildrenAmount)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td class="text-center">
                    @if (item.Status)
                    {
                        <span>Ativo</span>
                    }
                    else
                    {
                        <span>Inativo</span>
                    }
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <button id="Options" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Opções
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <li><a asp-action="Edit" asp-route-id="@item.PersonCode" class="text-warning" style="text-decoration: none"><b>Editar</b></a></li>
                            <li><a asp-action="Details" asp-route-id="@item.PersonCode" class="text-success" style="text-decoration: none"><b>Deletalhes</b></a></li>
                            <li><a asp-action="Delete" asp-route-id="@item.PersonCode" class="text-danger" style="text-decoration: none"><b>Deletar</b></a></li>
                            <li><a asp-action="AlterarStatus" asp-route-id="@item.PersonCode" class="text-primary" style="text-decoration: none"><b>Alterar Situação</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

